@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url(normalize.css);
:root{
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-light-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    --mobile-width: 375px;
    --desktop-width: 1440px;

    --fw-regular: 400;
    --fw-bold: 700;
}

body{
    font-family: 'Outfit', sans-serif;
    color: var(--clr-light-blue);
    font-size: 15px;
}
.container{
    width: 90%;
    min-height: 100vh;
    max-width: var(--desktop-width);
    margin-inline: auto;
    background-color: var(--clr-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}



.card{
    max-width: 300px;
    background-color: var(--clr-white);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.card-image{
    border-radius: 15px;
}

.card img{
    max-width: 100%;
    border-radius: 10px;
}

.title{
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
}


.attribution { 
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 11px; text-align: center; 
}
  .attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(max-width: 375px ){
    .container{
        width: 100%;
        margin-inline: auto;
        background-color: var(--clr-light-gray);
    }
    .card{
        margin-inline: 15px;
    }
}